<div class="">
  <div class="heading">
    <h2>Mouseover the grid cells:</h2>
  </div>
  <hr>
  <div class="segment">
    {{grid-chart data=model}}
  </div>

  <div class="segment">
    {{position-details result1=result1 result2=result2}}
  </div>
</div>

{{outlet}}
