<div class="flex-container">
  <div class="chart-area">
    <div id="grid" ></div>
  </div>

  <div class="detail-area">
    <h2>Grid Position</h2>
    <h3 class="">
      Reference 1 (x): {{ref1Output}}
    </h3>
    <h3>
      Reference 2 (y): {{ref2Output}}
    </h3>
  </div>
</div>
